*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}
.card{
    width: 319px;
    height: 492px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    position: relative;
    overflow: visible;
}
.icon{
    top: -30px;
    width: 60px;
    height: 60px;
    fill: #FFF;
    stroke-width: 4px;
    stroke: #554C4C;
}
.circle {
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 4px solid #554C4C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
h3{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}
p{
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 211px;
}

