body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
