.icons {
    margin: 80px auto;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
}
.icon {
    width: 100%;
    text-align: left;
}
.icon-text {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin: 12px 0;
}
.icon img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.icon p {
    margin: 12px 0;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
}
.icon p:first-of-type {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.icon-text-lorem{
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    margin: 12px 0;
    line-height: 1.5;
    padding: 0;
}









