@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.w-1440{
    width: 1440px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
    gap: 300px;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


header nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:50px;
}
.coffee-button{
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background: #6246EA;
    border: none;
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

