*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: #e6e2e2;
}

.w-1440{
    width: 1440px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.coffee-button{
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background: #6246EA;
    border: none;
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
    gap: 116px;
}
.hero div h1{
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px; /* 102.667% */
    letter-spacing: -2.501px;
}
.hero div p{
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 30px 0 50px 0;
    width: 664px;
    height: 56px;
    gap: 12px;
}
.hero button{
    width: 188.211px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    border: none;
}

.hero img{
    width: 470px;
    height: 387px;
    top: 250px;
    left: 875px;
    opacity: 1;
}
.subscribe-form {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 600px;
    width: 100%;
    height: 60px;
}


.subscribe-form input {
    flex: 1;
    height: 100%;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 17px;
    font-family: "Mulish", sans-serif;
}

.subscribe-form button {
    height: 100%;
    padding: 0 30px;
    background: #5454D4;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    cursor: pointer;
}
.text-frame {
    border-left: 4px solid #000;
    padding-left: 12px;
    max-width: 664px;
}








