*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader {
    width: 20px;
    height: 20px;
    background-color: #D1EF53;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    animation: moveBall 1s ease infinite alternate;
}
@keyframes moveBall {
    from { transform: translateX(-100px); }
    to   { transform: translateX(100px); }
}



