*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 60% 30%;

}

header{
    grid-area: header;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-left{
    grid-area: aside-left;
    background: #A4A4A4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-section-top{
    grid-area: aside-top;
    background: #7F7A7A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-section-bottom{
    grid-area: aside-bottom;
    background: #615050;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top{
    grid-area: footer-top;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom{
    grid-area: footer-bottom;
    background: #AFA9A9;
    display: flex;
    justify-content: center;
    align-items: center;
}